target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
.#*
.*.md.html
.DS_Store
.attach_pid*
.gradle
.metadata
.recommenders
.vscode
/code
MANIFEST.MF
_site/
activemq-data


bin
build
!/**/src/**/bin
!/**/src/**/build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
out
overridedb.*
target
.flattened-pom.xml
secrets.yml
.gradletasknamecache


# Misc #
course-detail.html
course-form.html
course-list.html
passport-form.html
review-form.html
student-form.html
student-list.html

Course.java
Passport.java
Review.java
Student.java

CourseController.java
PassportController.java
ReviewController.java
StudentController.java

CourseRepository.java
PassportRepository.java
ReviewRepository.java
StudentRepository.java

CourseService.java
PassportService.java
ReviewService.java
StudentService.java