<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body class="bg-dark text-light">
    <div class="container p-4" style="width: 500px; ">
        <div class="text-center">
            <h1>Welcome to Jove!</h1>
        </div>

        <div class="my-4">
            <h3 class="text-center text-primary">Login</h3>
            <div class="m-4 p-4 border border-2 border-light" style="background-color: #2d3033 !important;">
                <form action="">
                    <!-- Select user type -->
                    <div class="mb-3">
                        <label class="form-label">User Type</label>
                        <select class="form-select" id="SelectUserType" required>
                            <option value="">Select User Type</option>
                            <option value="1">Client</option>
                            <option value="2">Project Leader</option>
                            <option value="3">Programmer</option>
                            <option value="4">Owner</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="inputUsername">Username</label>
                        <input type="text" class="form-control" id="inputUsername" placeholder="Username" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                    </div>

                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkRemember">
                            <label class="form-check-label" for="checkRemember">Remember me</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary sign-in-btn">Sign in</button>
                </form>
                <div class="mt-2 client-reg" style="display: none;">
                    <a href="/login/add" style="text-decoration: none;">New client registration</a>
                </div>
            </div>
        </div>

    </div>
    <script>
        document.getElementById("SelectUserType").addEventListener("change", function () {
            if (this.value === "1") {
                document.querySelector(".client-reg").style.display = "block";
            } else {
                document.querySelector(".client-reg").style.display = "none";
            }
        });

        document.querySelector(".sign-in-btn").addEventListener("click", function (e) {
            e.preventDefault();

            let userType = document.getElementById("SelectUserType").value;
            let username = document.getElementById("inputUsername").value;
            let password = document.getElementById("inputPassword").value;

            if (userType === "") {
                alert("Please select user type");
                return;
            }

            if (userType === "1") {
                if ((username === "john123" && password === "examplepassword")) {
                    window.location.href = "/client/1";
                } else if (username === "jane123" && password === "dummypassword") {
                    window.location.href = "/client/2";
                } else if (username === "jack123" && password === "helloworld@123") {
                    window.location.href = "/client/3";
                } else if (username === "jill123" && password === "password123") {
                    window.location.href = "/client/4";
                } else {
                    alert("Invalid username or password");
                }
            }

            if (userType === "2") {
                if ((username === "thara123" && password === "chummaorupass")) {
                    window.location.href = "/projectleader/12";
                } else if (username === "raj123" && password === "hello@password") {
                    window.location.href = "/projectleader/13";
                } else {
                    alert("Invalid username or password");
                }
            }

            if (userType === "3") {
                if ((username === "kene1234" && password === "kenpass")) {
                    window.location.href = "/programmer/9";
                } else if (username === "lakshmi12" && password === "sundar@2334") {
                    window.location.href = "/programmer/10";
                } else if (username === "raj1234" && password === "rajpass") {
                    window.location.href = "/programmer/11";
                } else {
                    alert("Invalid username or password");
                }
            }

            if (userType === "4") {
                if (username === "ramkumar") {
                    window.location.href = "/owner/14";
                } else {
                    alert("Invalid username or password");
                }
            }
        });



    </script>
</body>

</html>